@import '../fonts/yekan_bakh.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --mainbg_300: 56 61 99;
  --mainbg_400: 37 41 67;
  --mainbg_500: 37 40 65;
  --mainbg_600: 20 25 49;
  --main_red: 201 11 14;
  --main_orange: 236 102 0;
  --main_green: 74 222 128;
  --main_blue: 1 107 255;
  --bermudaGray: 108 135 168;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

img {
  object-fit: contain;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
.scroll-bar::-webkit-scrollbar {
  display: block;
  width: 4px;
}
.scroll-bar::-webkit-scrollbar-track {
  background: #5c618c;
  border-radius: 4px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.scroll-bar {
  -ms-overflow-style: auto;
  scrollbar-width: auto;
}
body {
  color: #c0d6f0;
}

@layer base {
  body {
    @apply font-yekan-bakh duration-[0.2s];
  }
}

/* //////////////////////////////////////////// */
.btn {
  border: 1px solid #c0d6f0;
  background: rgba(var(--mainbg_500));
}

.btn-disable {
  border: 2px solid rgba(255, 255, 255, 0.342);
  background: rgba(255, 255, 255, 0.12);
  cursor: not-allowed;
}

.btn:hover {
  border-color: rgb(var(--main_orange));
  color: rgb(var(--main_orange));
  background-color: rgba(var(--main_orange) / 0.1);
  backdrop-filter: blur(100px);
}

.btn:hover p {
  color: rgb(var(--main_orange) / 0.8);
}

.btn:hover > img {
  opacity: 0.6;
}
.btn:hover > div {
  opacity: 0.6;
}
.activePanel {
  background-image: linear-gradient(
    to left,
    rgb(var(--mainbg_600)),
    rgba(0, 0, 0, 0)
  );
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.noActivePanel:hover {
  background-image: linear-gradient(
    to left,
    rgba(20, 25, 49, 0.32),
    rgba(0, 0, 0, 0)
  );
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.btn-active {
  background-color: rgb(var(--main_orange));
  border-color: rgb(var(--main_orange));
  color: black;
}

.btn-active > * {
  color: black;
}

.teamspeak img {
  width: 16px;
  height: 16px;
  margin-block: auto;
}

.gridList {
  grid-template-columns: 4fr 2fr;
  justify-items: end;
}

.button {
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  border-radius: 25px;
  background-color: rgb(var(--main_orange) / 0.8);
  cursor: pointer;
  transition: 0.2s;
}

.button::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 15px;
  background-color: rgb(215, 50, 50);
  top: 50%;
  right: 100%;
  transform: translate(100%, -50%);
}

#server-status:checked + .button {
  background-color: rgb(219, 255, 219);
}

#server-status:checked + .button::before {
  background-color: rgb(12, 207, 12);
  right: 0;
  transform: translate(10%, -50%);
}

.user-grid {
  grid-template-columns: 7fr 1fr;
}

.module-btn {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15);
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: white;
}

.checkbox-active {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: rgb(var(--main_blue));
}

.dropdown {
  background-color: rgb(0, 42, 110);
  font-weight: 700;
}

.items {
  height: 4rem;
}

.items:nth-child(even) {
  background-color: rgba(var(--mainbg_300) / 0.25);
}

.disable {
  cursor: wait;
  opacity: 0.8;
}

option {
  background-color: rgba(37, 40, 65, 1);
}

.make-server {
  background-color: rgb(var(--main_blue));
  border: 1px solid rgb(var(--main_blue));
  padding: 1rem;
  border-radius: 15px;
}
