@tailwind base;
@tailwind components;
@tailwind utilities;
.btn{
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.18);
}
.activePanel{
  background-image: linear-gradient(to left, rgba(0, 149, 255, 0.6),
  rgba(0, 149, 255, 0));
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;

}
.active-server{
  background-color: rgba(255, 158, 11, 1);
  border:none
}