@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
img {
  object-fit: contain;
}
*:-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* //////////////////////////////////////////// */
.btn {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.12);
}
.btn-disable {
  border: 2px solid rgba(255, 255, 255, 0.342);
  background: rgba(255, 255, 255, 0.12);
  cursor: not-allowed;
}
.btn:hover {
  border-color: rgba(255, 158, 11, 1);
  background-color: rgba(255, 158, 11, 0.1);
}
.activePanel {
  background-image: linear-gradient(to left, #141931, rgba(0, 149, 255, 0));
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.btn-active {
  background-color: rgba(255, 158, 11, 1);
  border-color: rgba(255, 158, 11, 1);
}

.teamspeak img {
  width: 16px;
  height: 16px;
  margin-block: auto;
}
.gridList {
  grid-template-columns: 4fr 2fr;
  justify-items: end;
}

.button {
  display: block;
  position: relative;
  width: 50px;
  height: 15px;
  border-radius: 25px;
  background-color: rgb(255, 196, 196);
  cursor: pointer;
  transition: 0.2s;
}
.button::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 15px;
  background-color: rgb(215, 50, 50);
  top: 50%;
  right: 100%;
  transform: translate(100%, -50%);
}
#server-status:checked + .button {
  background-color: rgb(219, 255, 219);
}
#server-status:checked + .button::before {
  background-color: rgb(12, 207, 12);
  right: 0;
  transform: translate(10%, -50%);
}
.user-grid {
  grid-template-columns: 7fr 1fr;
}

.module-btn {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15);
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: white;
}
.checkbox-active {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: rgba(40, 123, 255, 1);
}
.dropdown {
  background-color: rgb(0, 42, 110);
  font-weight: 700;
}
.ban-list {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr;
}
.items {
  height: 4rem;
}
.items:nth-child(even) {
  background-color: rgba(39, 43, 77, 1);
}
.audio-progress {
  position: relative;
  width: 70%;
  height: 2px;
  background-color: white;
}
.audio-progress::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(255, 158, 11, 1);
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
}
.audio-progress::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 158, 11, 1);
  width: 30%;
  height: 2px;
}
.disable {
  cursor: wait;
  opacity: 0.8;
}
option {
  background-color: rgba(37, 40, 65, 1);
}
